/* Светлая тема */
:root {
  --bg: #F7F4EF;
  --head: #1A1714;
  --text: #7A736A;
  --block: #EDEAE4;
  --border: #DDD9D2;
  --accent: #F88300;
  --main: #F7E6D9;
  --border: #F5BE9C;
  --separator: #DDD9D2;
  --btn: #1A1714
}

/* Темная тема */
.dark-theme {
  --bg: #0F0F0F;
  --head: #F7F4EF;
  --text: #A39F9A;
  --block: #3F3E3C;
  --border: #DDD9D2;
  --accent: #F88300;
  --main: #3C2D25;
  --border: #D98A5F;
  --separator: #DDD9D2;
  --btn: #F7F4EF;
}

@font-face {
  font-family: 'Bebas';
  src: url(./fonts/bebasneuecyrillic.ttf) format('truetype');
}

@font-face {
  font-family: 'Geologica';
  src: url(./fonts/Geologica-VariableFont.ttf) format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none; /* Chrome */
}

body {
  background-color: var(--bg);
  color: var(--head);
  padding-top: 70px;
}

p {
  font-family: 'Geologica', sans-serif;
  font-weight: 400;
  font-size: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    color: var(--text);
}

h1 {
    font-family: 'Bebas', sans-serif;
    font-weight: 600;
    font-size: 120px;
    letter-spacing: 10px;
    line-height: 120px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: var(--head);
    margin-left: 30px;
}

h2 {
    font-family: 'Geologica', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: 30px;
    color: var(--head);

}               

/* Найди свой круг */
.img-text {
    font-family: 'Bebas', sans-serif;
    font-weight: 600;
    font-size: 120px;
    letter-spacing: 10px;
    line-height: 120px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    }

/* Хидер */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
    box-sizing: border-box;
    background: rgba(247, 244, 239, 0.2);
    backdrop-filter: blur(25px);
    border-bottom: 1px solid var(--separator);
}


/* Логотип */
.logo-wrap {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.logo {
    font-family: 'Bebas', sans-serif;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 0px;
    line-height: 1;
    margin: 0;
    text-decoration: none;
    color: var(--head);
    display: block;
    }

.logo2 {
    font-family: 'Bebas', sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 1;
    margin: 0;
    text-decoration: none;
    color: var(--accent);
    display: block;
    }

/* Кнопки войти/регистрация */
.btn-wrap {
    display: flex;
    align-items: center;
    gap: 0px;
}

.btn-1, .btn-2 {
    float: none;
    margin-left: 0;
}

.btn-1:hover {
    background-color: var(--separator);
}

.btn-2:hover {
    background-color: var(--separator);
}

.btn-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-left: 10px;
    width: 76px;
    height: 36px;
    border: 2px solid var(--separator);
    border-radius: 5px;
    background-color: transparent;
    color: var(--text);
    font-weight: 600;
    padding: 0 14px;
    cursor: pointer;
    transition: 0.2s ease;
    color: var(--head);
    }

.btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-left: 10px;
    width: 125px;
    height: 36px;
    border-radius: 5px;
    background-color: var(--accent);
    border: none;
    color: var(--bg);
    font-weight: 600;
    padding: 0 14px;
    cursor: pointer;
    transition: 0.2s ease;
    color: var(--btn);
    }

.theme-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-left: 10px;
    width: 36px;
    height: 36px;
    border: 2px solid var(--separator);
    border-radius: 100px;
    background-color: transparent;
    color: var(--text);
    font-weight: 600;
    font-size: 18px;
    padding: 0 14px;
    cursor: pointer;
    transition: 0.2s ease;
    color: var(--head);
}

/* Сообщество школьников и студентов */
.community {
    color: var(--accent);
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 30px;
}

/* Расти. */
.rasti {
  color: var(--accent);
    margin-bottom: 50px;
}

/* Кнопка присоединиться */
.btn-3 {
    display: block;
    margin: 20px auto;
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--accent);
    border: none;
    color: #F7F4EF;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.btn-3:hover {
    background-color: var(--separator);
}

.divider {
    border: none; 
    background-color: var(--separator); 
    border-top: 2px solid var(--separator);
    border-radius: 5px;
    width: 100%;
}

.mesto {
    margin-top: 20px;
    color: var(--text);
    line-height: 23px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hero {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.hero-text h1,
.hero-text p {
    margin-left: 0;
    text-align: center;
    
}

.hero-img {
    position: absolute;
    top: 70px;
    width: 45%;
    max-width: 700px;
    height: auto;
    object-fit: contain;
    display: block;
}

.hero-img-right {
    right: -10%;
}

.hero-img-left {
    left: -10%;
    transform: scaleX(-1);
}

.block {
    width: 519px; 
    margin-top: 40px;
    margin-bottom: 40px;
}

.chtotakoe {
    color: var(--accent);
    margin-top: 30px;
    margin-bottom: 30px;
}

.soob {
    color: var(--accent);
    margin-bottom: 50px;
}

/* Таблица */
.tablica {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid var(--separator);
    border-radius: 12px;
    overflow: hidden;
    color: var(--head);
}

.card {
    padding: 30px;
    border-right: 1px solid var(--separator);
    border-bottom: 1px solid var(--separator);
}

.card p {
    margin-top: 15px;
    margin-bottom: 0;
    line-height: 24px;
    color: var(--text);
}

.card-top {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card h2,
.card p {
    margin-left: 0;
}

.icon {
    width: 50px;
    height: 50px;
    background-color: var(--main);
    border: 2px solid var(--border);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon i {
    color: var(--head);
    font-size: 24px;
}

.dark-block {
    position: relative;
    background-color: var(--block);
    padding: 50px 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.kakrabotaet {
    color: var(--accent);
    margin-bottom: 30px;
    margin-top: 15px;
    margin-left: auto;
}

.stanovis {
    margin-top: 30px;
    margin-bottom: 15px;
}

.trishaga {
    color: var(--head);
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
}

.kruga {
    color: var(--accent);
}

.step {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  align-items: flex-start;
  font-family: 'Bebas', sans-serif;
}

.num {
  font-size: 64px;
  font-weight: 600;
  color: #C4C4C4;
  width: 60px;
  margin-top: 25px;
}

.text h3 {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  font-family: 'Geologica', sans-serif;
  margin-top: 25px;
}

.text p {
  margin: 6px 0 0;
  color: var(--text);
  line-height: 1.5;
}

.divider2 {
    border: none; 
    background-color: var(--separator); 
    border-top: 2px solid var(--separator);
    border-radius: 5px;
    width: 830px;
    margin: 10px 0;
    margin-bottom: 25px;
    margin-top: 25px;
}

.alexander {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 700px;
}

.img-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1;
    font-size: 128px;
    font-weight: 700;
}

.svoy {
    color: var(--accent);
}

.btn-4 {
    display: block;
    margin: 20px auto;
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--accent);
    border: none;
    color: #F7F4EF;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 50px;
    cursor: pointer;
}

.btn-4:hover {
    background-color: var(--separator);
}

.prisoed {
    color: var(--text);
    line-height: 23px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Футер */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 40px;
    box-sizing: border-box;
    border-top: 1px solid var(--separator);
    background-color: var(--bg);
}

/* Лого */
.logo-wrap2 {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.logo3 {
    font-family: 'Bebas', sans-serif;
    font-weight: 600;
    font-size: 36px;
    margin: 0;
    text-decoration: none;
    color: var(--head);
    line-height: 1;
}

.logo4 {
    font-family: 'Bebas', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    text-decoration: none;
    color: var(--accent);
    line-height: 1;
}

/* Текст */
.footer-text {
    margin: 0;
    font-family: 'Geologica', sans-serif;
    font-size: 14px;
    color: var(--text);
}

[data-dark] {
    display: none;
}

.dark-theme [data-light] {
    display: none;
}

.dark-theme [data-dark] {
    display: block;
}

.sun {
    display: none;
}

.moon {
    display: block;
}

/* Тёмная тема */
.dark-theme .sun {
    display: block;
}

.dark-theme .moon {
    display: none;
}